<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="css/styles.css">
        <script src="js/tornado_rest_test.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Tornado Rest Test">
        <meta name="application-name" content="Tornado Rest Test">
        <meta name="msapplication-TileColor" content="#0d59ad">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#0d59ad">
    </head>
    <body>
        {{ body_content }}

        <ul>
        {% for widget in widget_results %}
            <li>{{ widget }}</li>
        {% end %}
        </ul>
    </body>
</html>
