<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="css/styles.css">
        <script src="js/tornado_rest_test.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Tornado Rest Test">
        <meta name="application-name" content="Tornado Rest Test">
        <meta name="msapplication-TileColor" content="#0d59ad">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#0d59ad">
    </head>
    <body>
        {% raw body_content %}

        <hr>

        <table id="widget_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Widget Name</th>
                    <th>Quantity</th>
                    <th>Date Added</th>
                    <th>Date Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <hr>

        <form id="form_widget_add">
            <fieldset>
                <legend>Add a new widget!</legend>
                <label>Widget Name: <input name="widget_name" id="widget_name" length="64"></label>
                <br>
                <label>Quantity: <input name="widget_parts" id="widget_parts"></label>
                <br>
                <button type="submit">Add Widget</button>
            </fieldset>
        </form>

        <template id="sample_row">
            <tr>
                <td class="id"></td>
                <td class="name"></td>
                <td class="parts"></td>
                <td class="date_created"></td>
                <td class="date_updated"></td>
                <td class="row_actions"></td>
            </tr>
        </template>
    </body>
</html>
