<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="css/styles.css">
        <script src="js/tornado_rest_test.js"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Tornado Rest Test">
        <meta name="application-name" content="Tornado Rest Test">
        <meta name="msapplication-TileColor" content="#0d59ad">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#0d59ad">
    </head>
    <body>
        {% raw body_content %}

        <table id="widget_table">
            <thead>
                <tr>
                    <th class="right">ID</th>
                    <th class="left">Widget Name</th>
                    <th class="right">Quantity</th>
                    <th class="right">Date Added</th>
                    <th class="right">Date Updated</th>
                    <th class="center">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <form id="form_widget" autocomplete="off">
            <fieldset>
                <legend>Add Widget</legend>
                <label><span>Widget Name:</span> <input name="widget_name" id="widget_name"></label>
                <label><span>Quantity:</span> <input name="widget_parts" id="widget_parts"></label>

                <input type="hidden" name="mode" id="form_mode" value="create">
                <input type="hidden" name="widget_id" id="widget_id" value="">

                <div id="form_widget_controls">
                    <button type="submit">Add Widget</button>
                    <input type="reset">
                </div>
            </fieldset>
        </form>

        <template id="sample_row">
            <tr>
                <td class="id right"></td>
                <td class="name left"></td>
                <td class="parts right"></td>
                <td class="date_created right"></td>
                <td class="date_updated right"></td>
                <td class="row_actions center">
                    <span class="inspect action" title="Inspect record">🔍</span>
                    <span class="update action" title="Update record">✎</span>
                    <span class="delete action" title="Delete record">⊘</span>
                </td>
            </tr>
        </template>

        <div id="tooltip" style="display:none; visibility: hidden;">
            <span class="content"></span>
            <span class="close action" title="close">✖</span>
        </div>
    </body>
</html>
